
/*modal toggle*/
#chatbot-modal {
  width: 150px; 
  height: 50px; 
  background-color: #007bff; 
  color: white;
  border-radius: 25px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  z-index: 1000; 
}

/*chatbot expanded*/
.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff;
  color: white;
  margin-bottom: 2px;
}

.control-button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 300px; 
  height: 500px; 
  overflow: auto; 
  background-color: #f0f0f0; 
  border-radius: 10px 0 0 10px; 
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
}

/*display messages*/
.messages-container {
  font-size: 14px;
  flex-grow: 1; 
  height: 300px; 
  overflow-y: auto;
  border: 1px solid #ccc; 
  padding: 10px;
  background-color: #f9f9f9; 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.messages {
  padding: 10px;
  height: 300px;
  overflow-y: auto;
}

.message {
  margin: 5px 0;
  max-width: 50%;
  border-radius: 18px;

  padding: 8px 12px;
}

.user-message {
  align-self: flex-end; 
  background-color: #e1f5fe;
  color: black;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.ai-message {
  align-self: flex-start; 
  background-color: #f0f0f0;
  color: black;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

form {
  display: flex;
  padding: 10px;
}

input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-message {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9; 
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px; 
}

.submit-message textarea {
  flex-grow: 1; 
  padding: 10px; 
  font-size: 14px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
  resize: none; 
  overflow: hidden; 
}

.submit-message button {
  margin-left: 10px; 
  padding: 10px 20px; 
  font-size: 1em; 
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.submit-message button:hover {
  background-color: #0056b3; 
}
